In [4]:
import pandas as pd 
from pathlib import Path

In [10]:
data_path = Path("data_source/Ethiopia_political_violence_events.xlsx")
print(data_path.exists())

True

In [12]:
df = pd.read_excel(data_path, sheet_name="Data")
df.head()

,Country,Admin1,Admin2,ISO3,Admin2 Pcode,Admin1 Pcode,Month,Year,Events,Fatalities
0,Ethiopia,Benshangul/Gumuz,Kemashi,ETH,ET0604,ET06,January,1997,0,0
1,Ethiopia,Gambela,Majang,ETH,ET1203,ET12,January,1997,0,0
2,Ethiopia,Oromia,Arsi,ETH,ET0408,ET04,January,1997,0,0
3,Ethiopia,Oromia,East Bale,ETH,ET0421,ET04,January,1997,0,0
4,Ethiopia,Oromia,East Wellega,ETH,ET0402,ET04,January,1997,0,0

## Cleaning the Data

In [14]:
# Rename admin1 = region admin2 = zone
df = df.rename(columns={"Admin1":"Region", "Admin2":"Zone"})
df = df.drop(columns=["Fatalities"])

In [15]:
df.head()

,Country,Region,Zone,ISO3,Admin2 Pcode,Admin1 Pcode,Month,Year,Events
0,Ethiopia,Benshangul/Gumuz,Kemashi,ETH,ET0604,ET06,January,1997,0
1,Ethiopia,Gambela,Majang,ETH,ET1203,ET12,January,1997,0
2,Ethiopia,Oromia,Arsi,ETH,ET0408,ET04,January,1997,0
3,Ethiopia,Oromia,East Bale,ETH,ET0421,ET04,January,1997,0
4,Ethiopia,Oromia,East Wellega,ETH,ET0402,ET04,January,1997,0

In [16]:
# Remove data before 2018 April