In [4]:
import pandas as pd 
from pathlib import Path

In [10]:
data_path = Path("data_source/Ethiopia_political_violence_events.xlsx")
print(data_path.exists())

True

In [12]:
df = pd.read_excel(data_path, sheet_name="Data")
df.head()

,Country,Admin1,Admin2,ISO3,Admin2 Pcode,Admin1 Pcode,Month,Year,Events,Fatalities
0,Ethiopia,Benshangul/Gumuz,Kemashi,ETH,ET0604,ET06,January,1997,0,0
1,Ethiopia,Gambela,Majang,ETH,ET1203,ET12,January,1997,0,0
2,Ethiopia,Oromia,Arsi,ETH,ET0408,ET04,January,1997,0,0
3,Ethiopia,Oromia,East Bale,ETH,ET0421,ET04,January,1997,0,0
4,Ethiopia,Oromia,East Wellega,ETH,ET0402,ET04,January,1997,0,0

## Cleaning the Data

In [14]:
# Rename admin1 = region admin2 = zone
df = df.rename(columns={"Admin1":"Region", "Admin2":"Zone"})
df = df.drop(columns=["Fatalities"])

In [19]:
# Map month names to numbers 
MONTH = {
    "January": 1, "February": 2, "March": 3, "April": 4,
    "May": 5, "June": 6, "July": 7, "August": 8,
    "September": 9, "October": 10, "November": 11, "December": 12
}

df["month_num"] = df["Month"].map(MONTH)

In [27]:
# Merge the Month and year columns and change the data type to date and time 
df["date"] = pd.to_datetime(dict(year=df["Year"], month=df["month_num"], day=1),
                           errors="coerce")

In [35]:
# Remove month, year and month_num fields 
df=df.drop(columns = ["Month", "Year", "month_num"])

In [37]:
# Keep data since 2018 April 
start_date = pd.Timestamp(2018,4, 1)
df = df[df["date"] >= start_date]
df.head()

,Country,Region,Zone,ISO3,Admin2 Pcode,Admin1 Pcode,Events,date
23460,Ethiopia,Benshangul/Gumuz,Kemashi,ETH,ET0604,ET06,0,2018-04-01
23461,Ethiopia,Gambela,Majang,ETH,ET1203,ET12,0,2018-04-01
23462,Ethiopia,Oromia,Arsi,ETH,ET0408,ET04,1,2018-04-01
23463,Ethiopia,Oromia,East Bale,ETH,ET0421,ET04,1,2018-04-01
23464,Ethiopia,Oromia,East Wellega,ETH,ET0402,ET04,0,2018-04-01

In [ ]:
# saving the 2018 onward data as csv 
df.to_csv("Data_Source/Political_violence_since_2018_April.csv", index=False)